body {
    background-color: black;
    height: 130vh;
    width: 130vw;
}
.solar-system{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    flex-direction: row;
}
h1{
    color: #f3f3f3;
}
label{
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    align-content: center;
}
.sun {
    /* border: 16px solid #f3f3f3; */
    /* Light grey */
    background-color: yellow;
    /* border-left: 6px  solid orangered; */
    /* Blue */
    align-content: center;

    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 30s linear infinite;
    position: absolute;
    background-image: url(./assets/sun.jpg);
    background-size: 130%;
    background-position: center;
}
.planet-mercury{
    /* background-color: orangered; */
        border: 1px solid #f3f3f3; 
        
        /* border-top: 16px solid #3498db; Blue */
        border-radius: 50%;
        width: 200px;
        height: 200px;
        animation: spin 12.9s linear infinite;
    position: relative;
}
.mercury{
    background-color: orangered;
    /* border-left: 6px  solid rgb(235, 228, 225); */

    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    animation: spin 89s linear infinite;
    position: fixed;
    background-image: url(./assets/mercury.png);
    background-position: center;
    background-size: 150%;
}

.planet-venus{
    /* background-color: orangered; */
        border: 1px solid #f3f3f3; 
        
        /* border-top: 16px solid #3498db; Blue */
        border-radius: 50%;
        width: 300px;
        height: 300px;
        animation: spin 30.6s linear infinite;
    position: absolute;
}
.venus{
    background-color: orangered;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 25px;
    animation: spin 4s linear infinite;
    position: fixed;
    background-image: url(./assets/venus.jpg);
    background-position: center;
    background-size: 150%;
}

.planet-earth{
    /* background-color: orangered; */
        border: 1px solid #f3f3f3; 
        
        /* border-top: 16px solid #3498db; Blue */
        border-radius: 50%;
        width: 400px;
        height: 400px;
        animation: spin 30s linear infinite;
    position: absolute;
}
.earth{
    /* background-color: orangered; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 35px;
    animation: spin 35s  infinite;
    position: fixed;
    background-image: url(./assets/earth.jpg);
    background-size: cover;
    /* background-position: center; */
}
.planet-mars{
    /* background-color: orangered; */
        border: 1px solid #f3f3f3; 
        
        /* border-top: 16px solid #3498db; Blue */
        border-radius: 50%;
        width: 500px;
        height: 500px;
        animation: spin 93.97s linear infinite;
    position: absolute;
}
.mars{
    background-color: orangered;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 45px;
    animation: spin 22s  infinite;
    position: fixed;
    background-position: center;
    background-image: url(./assets/mars.jpeg);
    background-size: cover;

}
.planet-jupiter{
    /* background-color: orangered; */
        border: 1px solid #f3f3f3; 
        
        /* border-top: 16px solid #3498db; Blue */
        border-radius: 50%;
        width: 600px;
        height: 600px;
        animation: spin 45s linear infinite;
    position: absolute;
}
.jupiter{
    background-color: orangered;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 45px;
    animation: spin 22s  infinite;
    background-image: url(./assets/jupiter.jpg);
    /* background-size: cover; */
    background-size: 120%;
    background-position: center;
    /* position: absolute; */
}
.planet-saturn{
    /* background-color: orangered; */
        border: 1px solid #f3f3f3; 
        
        /* border-top: 16px solid #3498db; Blue */
        border-radius: 50%;
        width: 700px;
        height: 700px;
        animation: spin 50s linear infinite;
    position: absolute;
}
.saturn{
    background-color: orangered;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 75px;
    animation: spin 22s  infinite;
    position: fixed;
    background-image: url(./assets/saturn.jpg);
    background-position: center;
    background-size: 150%;
}
.planet-uranus{
    /* background-color: orangered; */
        border: 1px solid #f3f3f3; 
        
        /* border-top: 16px solid #3498db; Blue */
        border-radius: 50%;
        width: 800px;
        height: 800px;
        animation: spin 59s linear infinite;
    position: absolute;
}
.uranus{
    background-color: orangered;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 90px;
    animation: spin 22s  infinite;
    position: fixed;
    background-image: url(./assets/uranus.jpg);
    background-position: center;
    background-size: 150%;

}
.planet-neptune{
    /* background-color: orangered; */
        border: 1px solid #f3f3f3; 
        
        /* border-top: 16px solid #3498db; Blue */
        border-radius: 50%;
        width: 900px;
        height: 900px;
        animation: spin 75s linear infinite;
    position: absolute;
}
.neptune{
    background-color: orangered;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 105px;
    animation: spin 2s  infinite;
    position: fixed;
    background-image: url(./assets/neptune.jpg);
    background-position: center;
    background-size: 150%;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
